<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
    <listener class-name="com.vit.banking_automation_project.listener.TestListener"/>
</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.vit.banking_automation_project.tests.AccountTest"/>
      <class name="com.vit.banking_automation_project.tests.ApiTest"/>
      
      <class name="com.vit.banking_automation_project.tests.RegistrationTest"/>
      <class name="com.vit.banking_automation_project.tests.TransactionHistoryTest"/>
      <class name="com.vit.banking_automation_project.tests.TransferTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
